.principalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 30%;
}

.backImage {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 780px;
  height: 100%;
  perspective: 1000px;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.flipBox {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.flipBox .front,
.flipBox .back {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  backface-visibility: hidden;
  border-radius: 0 20px 0 20px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  backdrop-filter: blur(14px);
  /* color: rgb(43, 42, 42); */
}

.flipBox .back {
  transform: rotateX(180deg);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(14px);
  font-size: 1.2rem;
}

.inputDetail {
  display: none;
}

:checked + .flipBox {
  transform: rotateX(180deg);
}

.flagCont {
  width: 100%;
}
.flag {
  width: auto;
  max-height: 200px;
  margin-bottom: 0px;
}

.infoContainer {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0px;
  margin-top: 0px;
  bottom: 10vh;
}
.front {
  color: #fff;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
}

.front h2 {
  font-size: 30px;
  margin: 0;
}

.front h4 {
  font-size: 1.2rem;
  margin-bottom: 0;
  display: block;
  font-weight: 200;
}
.front h5 {
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 15px;
  display: block;
  font-weight: 200;
}
.countryLocation {
  position: relative;
  height: 100%;
  width: 30%;
  float: left;
  left: 5%;
}

.googleMap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.googleMap a {
  color: white;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
  transition: 0.5s;
  font-weight: 200;
  text-decoration: none;
}

.locationIcon {
  width: 25px;
  height: 25px;
}

.buttonMap {
  background-color: #20b2aa;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  /* transition: 0.5s; */
}

.buttonMap:hover {
  /* background-color: #2a9d8f; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transform: translate3d(0, -3px, 0);
}

.buttonMap h5 {
  font-family: "Oswald";
}

.googleMap a:hover {
  transform: scale(1.2);
}
.geography {
  position: relative;
  height: 100%;
  width: 30%;
  float: right;
  right: 5%;
}

.front p {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.5rem;
  color: rgb(20, 20, 20);
  text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 0.5px white;
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  backdrop-filter: blur(14px);
}

.back ul li {
  display: inline;
  margin: 5px;
  color: white;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
}

.back .noCountryContainer {
  position: absolute;
  color: red;
}

.linkActivity {
  position: relative;
  color: #000;
  align-self: center;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.5s;
  padding: 5px;
  border-bottom: 2px solid #ee9b00;
}
.linkActivity:hover {
  transform: scale(1.2);
}

.linkHome button {
  position: relative;
  top: 15px;
  appearance: button;
  background-color: #005f73;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.linkHome button h5 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.linkHome button:after {
  background-clip: padding-box;
  background-color: #20b2aa;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.linkHome button:main,
button:focus {
  user-select: auto;
}

.linkHome button:hover:not(:disabled) {
  filter: brightness(1.1);
}

.linkHome button:disabled {
  cursor: auto;
}

.linkHome button:active:after {
  border-width: 0 0 0px;
}

.linkHome button:active {
  padding-bottom: 10px;
}

.loadingContainer {
  position: fixed;
  top: 50%;
  left: 50%;
}

/* SMALL MOBILE */

@media (max-width: 360px) {
  .container {
    width: 90%;
    max-height: 450px;
    margin-bottom: 0px;
  }
  .flag {
    width: 80%;
    max-height: 150px;
  }
  .infoContainer {
    bottom: 15vh;
  }
  .countryLocation {
    position: relative;
  }

  .locationIcon {
    width: 15px;
    height: 30px;
  }
  .buttonMap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
  }

  .googleMap {
    height: 100%;
  }

  .googleMap a {
    font-size: 0.8rem;
  }

  .geography {
    position: relative;
  }
  .front h2 {
    font-size: 1.8rem;
    margin: 0;
  }

  .front h3 {
    font-size: 1rem;
    margin: 0px 0px 0px 0px;
  }

  .front h4 {
    font-size: 0.9rem;
    margin: 0 0 5px 0;
    display: block;
  }
  .front h5 {
    font-size: 0.8rem;
    margin: 0 0 5px 0;
    display: block;
  }
  .googleMap h5 {
    font-size: 0.6rem;
  }

  .viewCountryText p {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 1.2rem;
  }
  .activities {
    width: 100%;
  }
  .back ul li {
    width: 100%;
    font-size: 0.9rem;
    display: inline;
    position: relative;
    right: 10%;
  }
  .linkHome button {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
}

/* MOBILE */

@media (min-width: 360px) and (max-width: 767px) {
  /* @media (max-width: 767px) { */
  .container {
    width: 80%;
    max-height: 550px;
    margin-bottom: 0px;
  }
  .flag {
    width: 80%;
    max-height: 150px;
  }

  .infoContainer {
    position: absolute;
    bottom: 10vh;
  }
  .countryLocation {
    position: relative;
  }

  .locationIcon {
    width: 15px;
    height: 30px;
  }
  .buttonMap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
  }
  .googleMap {
    height: 100%;
  }
  .googleMap a {
    font-size: 1rem;
    font-weight: 200;
  }

  .geography {
    position: relative;
  }
  .front h2 {
    font-size: 1.8rem;
    margin: 0;
  }

  .front h3 {
    font-size: 1rem;
    margin: 0px 0px 20px 0px;
  }

  .front h4 {
    font-size: 1rem;
    margin: 0 0 15px 0;
    display: block;
  }
  .front h5 {
    font-size: 0.9rem;
    margin: 0 0 15px 0;
    display: block;
  }

  .viewCountryText p {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 1.2rem;
  }
  .activities {
    width: 100%;
  }
  .back ul li {
    width: 100%;
    font-size: 0.9rem;
    display: inline;
    position: relative;
    right: 10%;
  }
  .linkHome button {
    font-size: 0.8rem;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .container {
    width: 90%;
    max-height: 90%;
    margin-bottom: 0px;
  }
  .flag {
    width: 10%;
    max-height: 150px;
  }

  .infoContainer {
    position: absolute;
    bottom: 10vh;
  }
  .countryLocation {
    position: relative;
  }
  .locationIcon {
    width: 15px;
    height: 30px;
  }
  .buttonMap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
  }

  .googleMap {
    height: 100%;
    top: 5vh;
  }
  .googleMap a {
    font-size: 0.9rem;
    font-weight: 200;
  }

  .geography {
    position: relative;
  }
  .front h2 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }

  .front h3 {
    font-size: 1rem;
    margin: 0px 0px 20px 0px;
  }

  .front h4 {
    font-size: 1rem;
    margin: 0 0 5px 0;
    display: block;
  }
  .front h5 {
    font-size: 0.9rem;
    margin: 0 0 5px 0;
    display: block;
  }

  .viewCountryText p {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 0.8rem;
  }
  .activities {
    width: 100%;
  }
  .back ul li {
    width: 100%;
    font-size: 0.9rem;
    display: inline;
    position: relative;
    right: 5%;
  }
  .linkHome button {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
}

/* TABLET */

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
  }

  .flag {
    width: 40%;
    max-height: 250px;
  }
  .infoContainer {
    position: absolute;
    bottom: 10vh;
  }
  .locationIcon {
    width: 30px;
    height: 30px;
  }
  .buttonMap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }

  .googleMap a {
    font-size: 1.7rem;
  }

  .front h4 {
    font-size: 1.8rem;
  }

  .front h5 {
    font-size: 1.7rem;
  }
  .googleMap h5 {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
  }

  .flag {
    width: 15%;
    max-height: 100px;
  }
  .infoContainer {
    position: absolute;
    bottom: 5vh;
  }
  .locationIcon {
    width: 20px;
    height: 20px;
  }
  .buttonMap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
  }
  .googleMap {
    top: 5vh;
  }
  .googleMap a {
    font-size: 0.7rem;
  }
  .front h2 {
    font-size: 1.4rem;
  }
  .front h3 {
    font-size: 0.8rem;
  }

  .front h4 {
    font-size: 1.1rem;
  }

  .front h5 {
    font-size: 1rem;
  }
  .googleMap h5 {
    font-size: 0.8rem;
  }
  .viewCountryText p {
    font-size: 1rem;
  }
  .back ul li {
    width: 100%;
    font-size: 1rem;
    display: inline;
    position: relative;
    right: 5%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
  }

  .flagCont {
    position: absolute;
    width: 100%;
    /* background-color: #ca6702; */
    z-index: 5;
  }
  .flag {
    width: 35%;
    max-height: 150px;
    margin-bottom: 0px;
  }

  .infoContainer {
    margin-bottom: 0px;
    margin-top: 0;
    height: auto;
    bottom: 15vh;
    align-items: baseline;
  }

  .countryLocation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0vh;
    margin-bottom: 0px;
  }

  .locationIcon {
    width: 30px;
    height: 30px;
  }
  .buttonMap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }
  .googleMap {
    height: 100%;
  }

  .googleMap a {
    bottom: 20vh;
    font-size: 1.5rem;
  }

  .geography {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0vh;
  }
  .front h2 {
    font-size: 3rem;
  }

  .front h3 {
    font-size: 1rem;
    margin: 0px 0px 50px 0px;
  }

  .front h4 {
    font-size: 1.8rem;
  }
  .front h5 {
    font-size: 1.7rem;
  }

  .googleMap h5 {
    font-size: 1.2rem;
  }
  .viewCountryText {
    position: relative;
    width: 100%;
    bottom: 0;
    font-size: 1.9rem;
    margin-top: 0px;
  }
  .viewCountryText p {
    /* background-color: red; */
    bottom: 3vh;
    margin-bottom: 0px;
  }
}

@media (min-width: 2560px) {
  .container {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
  }

  .flag {
    width: 40%;
    max-height: 250px;
    margin-bottom: 0px;
  }

  .countryLocation {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0px;
    top: 0vh;
    margin-bottom: 0px;
  }

  .googleMap {
    bottom: 10vh;
  }
  .googleMap a {
    font-size: 2.2rem;
  }

  .geography {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0vh;
  }
  .front h2 {
    font-size: 3rem;
  }

  .front h3 {
    font-size: 1.5rem;
    margin: 0px 0px 50px 0px;
  }

  .front h4 {
    font-size: 2.5rem;
  }
  .front h5 {
    font-size: 2.2rem;
  }
  .viewCountryText {
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: 0px;
  }
  .viewCountryText p {
    bottom: 5vh;
    margin-bottom: 0px;
    font-size: 1.9rem;
  }
}
