.countriesContainer {
  display: grid;
  place-content: center;
  gap: 100px;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-auto-flow: row;
  justify-self: center;
  position: relative;
  top:100px;
}
