.container {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  backdrop-filter: blur(14px);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 600px;
  margin-bottom: 50px;
  color: rgb(43, 42, 42);
  transition: 0.5s;
  justify-self: center;
}

.container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px -5px;
}

.flag {
  width: 100%;
  max-height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  border-radius: 0px;
  object-fit: cover;
}

.cardContent hr {
  width: 90%;
  margin: 0 auto;
  border: solid 1px rgba(255, 255, 255/ 20%);
}

.mainInfo {
  position: relative;
  height: 35vh;
}
.mainInfo h4 {
  position: relative;
  /* top: 85%; */
  font-size: 1.8rem;
  color: #fff;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
}

.otherInfo {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  top: 10%;
  margin-bottom: 5px;
}

.locationIcon {
  position: relative;
  width: 25px;
  height: 25px;
  /* color: #20b2aa; */
}

.locationText {
  width: 100%;
  position: relative;
  bottom: 20px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
}

.populationIcon {
  position: relative;
  width: 25px;
  height: 20px;
  /* color: #20b2aa; */
}
.populationText {
  align-self: center;
  width: 100%;
  position: relative;
  /* margin-top: 50px; */
  bottom: 50px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
}

.cardButton {
  position: relative;
  top: 2vh;
}

.details {
  margin-left: 10px;
  position: relative;
  display: inline-block;
  width: 12rem;
  height: auto;
  cursor: pointer;
  outline: none;
  border: 0;
  left: 0;
  bottom: 55px;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.details .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #20b2aa;
  border-radius: 1.625rem;
}

.details .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.details .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.details .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #000;
  border-right: 0.125rem solid #000;
  transform: rotate(45deg);
}

.link {
  margin-left: 10px;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  /* color: rgb(43, 42, 42); */
  color: #fff;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.details:hover .circle {
  width: 100%;
}

.details:hover .circle .icon.arrow {
  background: #000;
  transform: translate(1rem, 0);
  color: #000;
}

.link:hover {
  color: #000;
  text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
}

.container:hover .cardContent {
  opacity: 1;
}

.container:hover .cardContent .cardButton {
  transform: translateY(0px);
  transition-delay: 0s;
  opacity: 1;
}

@media (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 250px;
    height: 450px;
  }
  .flag {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    border-radius: 0px;
    object-fit: cover;
  }
  .cardContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cardContent hr {
    position: relative;
    top: 5%;
  }
  .mainInfo {
    position: relative;
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
  }
  .mainInfo h4 {
    position: relative;
    font-size: 1.5rem;
    top: 5vh;
  }

  .otherInfo {
    top: 0%;
  }

  .locationText {
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 5vw;
    font-weight: 400;
    margin-bottom: 0px;
  }

  .locationIcon {
    display: inline;
    position: fixed;
    left: 5vw;
  }

  .populationText {
    position: relative;
    bottom: 0px;
    left: 0px;
    margin-left: 5vw;
    margin-top: 5vh;
    font-weight: 400;
  }

  .populationIcon {
    display: inline;
    position: fixed;
    left: 5vw;
    margin-right: 0vw;
  }
  .cardButton {
    position: relative;
    margin-top: 10px;
    top: 5vh;
    left: -2vw;
  }
  .details {
    width: 11rem;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 250px;
    height: 450px;
  }
  .flag {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    border-radius: 0px;
    object-fit: cover;
  }
  .cardContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cardContent hr {
    position: relative;
    top: 5%;
  }
  .mainInfo {
    position: relative;
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
  }
  .mainInfo h4 {
    position: relative;
    font-size: 1.5rem;
    top: 5vh;
  }

  .otherInfo {
    top: 0%;
  }

  .locationText {
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 5vw;
    font-weight: 400;
    margin-bottom: 0px;
  }

  .locationIcon {
    display: inline;
    position: fixed;
    left: 5vw;
  }

  .populationText {
    position: relative;
    bottom: 0px;
    left: 0px;
    margin-left: 5vw;
    margin-top: 5vh;
    font-weight: 400;
  }

  .populationIcon {
    display: inline;
    position: fixed;
    left: 5vw;
    margin-right: 0vw;
  }
  .cardButton {
    position: relative;
    margin-top: 10px;
    top: 10vh;
    left: -2vw;
  }
  .details {
    width: 11rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 500px;
    height: 600px;
  }
  .flag {
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    border-radius: 0px;
    object-fit: cover;
  }
  .cardContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cardContent hr {
    position: relative;
    top: 20%;
  }

  .mainInfo {
    position: relative;
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainInfo h4 {
    position: relative;
    bottom: 0vh;
  }

  .otherInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 5%;
  }

  .locationText {
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 5vw;
    font-weight: 400;
    margin-bottom: 0px;
  }

  .locationIcon {
    display: inline;
    position: fixed;
    left: 5vw;
  }

  .populationText {
    position: relative;
    bottom: 0px;
    left: 0px;
    margin-top: 5vh;
    font-weight: 400;
  }

  .populationIcon {
    display: inline;
    position: fixed;
    left: 5vw;
    margin-right: 0vw;
  }
  .cardButton {
    position: relative;
    top: 3vh;
    margin-top: 5vh;
    left: -2vh;
  }
}
@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 500px;
    height: 600px;
  }
  .flag {
    width: 100%;
    max-height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    border-radius: 0px;
    object-fit: cover;
  }
  .cardContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cardContent hr {
    position: relative;
    top: 10%;
  }

  .mainInfo {
    position: relative;
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20%;
  }
  .mainInfo h4 {
    position: relative;
    margin-bottom: 0px;
  }

  .otherInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 0%;
  }

  .locationText {
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 5vw;
    font-weight: 400;
    margin-top: 5vh;
  }

  .locationIcon {
    display: inline;
    position: fixed;
    left: 5vw;
  }

  .populationText {
    position: relative;
    bottom: 0px;
    left: 0px;
    margin-top: 5%;
    font-weight: 400;
  }

  .populationIcon {
    display: inline;
    position: fixed;
    left: 5vw;
    margin-right: 0vw;
  }
  .cardButton {
    position: relative;
    top: 15%;
    margin-top: 5%;
    left: -2vh;
  }
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 400px;
    height: 600px;
  }
  .flag {
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    border-radius: 0px;
    object-fit: cover;
  }
  .cardContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cardContent hr {
    position: relative;
    top: 15%;
  }

  .mainInfo {
    position: relative;
    width: 100%;
    height: 0px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainInfo h4 {
    position: relative;
    top: 0px;
  }

  .otherInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 5%;
  }

  .locationText {
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 5vw;
    margin-bottom: 0px;
  }

  .locationIcon {
    display: inline;
    position: fixed;
    left: 5vw;
  }

  .populationText {
    position: relative;
    bottom: 0px;
    left: 0px;
    margin-top: 5vh;
  }

  .populationIcon {
    display: inline;
    position: fixed;
    left: 5vw;
    margin-right: 0vw;
  }
  .cardButton {
    position: relative;
    top: 3vh;
    margin-top: 5vh;
    left: -2vh;
  }
}

@media (min-width: 2560px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 550px;
    height: 650px;
  }
  .flag {
    width: 100%;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    border-radius: 0px;
    object-fit: cover;
  }
  .cardContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cardContent hr {
    position: relative;
    top: 5%;
  }

  .mainInfo {
    position: relative;
    width: 100%;
    height: 0px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 15%;
  }
  .mainInfo h4 {
    position: relative;
    margin-bottom: 0;
  }

  .otherInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 25%;
  }

  .locationText {
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 5vw;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .locationIcon {
    display: inline;
    position: fixed;
    left: 5vw;
  }

  .populationText {
    position: relative;
    bottom: 0px;
    left: 0px;
    margin-top: 10%;
    font-weight: 400;
  }

  .populationIcon {
    display: inline;
    position: fixed;
    left: 5vw;
    margin-right: 0vw;
  }
  .cardButton {
    position: relative;
    top: 2vh;
    margin-top: 10%;
    left: -2vh;
  }
  .details {
    width: 11rem;
  }
  .link {
    left: 1vh;
  }
}

@media (min-width: 3840px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 550px;
    height: 650px;
  }
  .flag {
    width: 100%;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    border-radius: 0px;
    object-fit: cover;
  }
  .cardContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cardContent hr {
    position: relative;
    top: 15%;
  }

  .mainInfo {
    position: relative;
    width: 100%;
    height: 0px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
  }
  .mainInfo h4 {
    position: relative;
    margin-bottom: 0;
  }

  .otherInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 25%;
  }

  .locationText {
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 5vw;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .locationIcon {
    display: inline;
    position: fixed;
    left: 15%;
  }

  .populationText {
    position: relative;
    bottom: 0px;
    left: 0px;
    margin-top: 10%;
    font-weight: 400;
  }

  .populationIcon {
    display: inline;
    position: fixed;
    left: 15%;
    margin-right: 0vw;
  }
  .cardButton {
    position: relative;
    top: 10%;
    margin-top: 10%;
    left: -5%;
  }
  .details {
    width: 11rem;
  }
  .link {
    left: 1vh;
  }
}
