.container{
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  backdrop-filter: blur(14px);
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
  height: 50vh;
  color: rgb(43, 42, 42);
  transition: 0.5s;
  justify-self: center;
}

.container:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 15px -5px;
}

.flag{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cardContent hr{
  width:80%;
  margin:0 auto;
  border: solid 1px dimgrey;
  
}

.mainInfo{
  position: relative;
  height: 6vh;
}
.mainInfo h4{
  font-size: 1.2rem;
}

.otherInfo{
  position: relative;
  bottom: 10px;
  margin-bottom: 5px;
}

.location{
  position: relative;
  width: 30px;
  right: 30%;
  top:25px;
}

.population{
  position: relative;
  width: 30px;
  right: 30%;
}

.locationText{
  position: relative;
  bottom: 20px;
  font-weight: 400;
}

.populationText{
  position: relative;
  bottom: 50px;
  font-weight: 400;
}


.cardButton {
  position: relative;
  bottom: 1vh;
}

.details {
  margin-left: 10px;
  position: relative;
  display: inline-block;
  width: 12rem;
  height: auto;
  cursor: pointer;
  outline: none;
  border: 0;
  bottom:55px;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  
}

.details .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #20B2AA;
  border-radius: 1.625rem;
}

.details .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.details .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.details .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #000;
  border-right: 0.125rem solid #000;
  transform: rotate(45deg);
}

.link {
  margin-left: 10px;
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: rgb(43, 42, 42);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.details:hover .circle {
  width: 100%;
}

.details:hover .circle .icon.arrow {
  background: #000;
  transform: translate(1rem, 0);
}

.link:hover {
  color: #000;
}

.container:hover .cardContent {
  opacity: 1;
}

.container:hover .cardContent .cardButton {
  transform: translateY(0px);
  transition-delay: 0s;
  opacity: 1;
} 