.container {
  box-sizing: content-box;
}

  .backImage{
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }

  .navContainer{
    position: absolute;
    width: 100%;
    background-color: red;
  }

.filtersContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20vh;
}

.countriesContainer{
  display: flex;
  justify-content: center;
  position: relative;
}

.secondPagination{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  top: 25vh;
}
