.container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: 200px;
}

.selectContainer {
  position: relative;
  right: 15px;
}

.sort {
  background-color: #001219;
  color: #fff;
  font-size: inherit;
  padding: 0.5em;
  padding-right: 2.5em;
  border: 0;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: "";
  -webkit-appearance: button;
  cursor: pointer;
}

.continents {
  background-color: #0a9396;
  color: #fff;
  font-size: inherit;
  padding: 0.5em;
  padding-right: 2.5em;
  border: 0;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: "";
  -webkit-appearance: button;
  cursor: pointer;
}

.activities {
  background-color: #0a9396;
  color: #fff;
  font-size: inherit;
  padding: 0.5em;
  padding-right: 2.5em;
  border: 0;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: "";
  -webkit-appearance: button;
  cursor: pointer;
}

.filterButton {
  position: relative;
  top: 15px;
  appearance: button;
  background-color: #005f73;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.filterButton:after {
  background-clip: padding-box;
  background-color: #0a9396;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.filterButton:main,
.filterButton:focus {
  user-select: auto;
}

.filterButton:hover:not(:disabled) {
  filter: brightness(1.1);
}

.filterButton:disabled {
  cursor: auto;
}

.filterButton:active:after {
  border-width: 0 0 0px;
}

.filterButton:active {
  padding-bottom: 10px;
}

@media (max-width: 724px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    bottom: 5vh;
    width: 100%;
    margin-top: 100px;
  }
  .selectContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    top: 0vh;
    right: 0;
    padding: 5%;
    margin: 15%;
  }
  .sort {
    width: 90%;
  }
  .continents {
    width: 90%;
  }
  .activities {
    width: 90%;
  }
}
