.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.paginationUl {
  display: flex;
  position: absolute;
  background: #fff;
  padding: 8px;
  border-radius: 50px;
  height: 45px;
  top: 200%;
}

.paginationUl li {
  color: #20b2aa;
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  margin: 0px 10px 0 10px;
}

.paginationUl li.numb {
  list-style: none;
  height: 45px;
  width: 45px;
  margin: 0 5px;
  line-height: 45px;
  border-radius: 50%;
}

.paginationUl li.first {
  margin: 0px 3px 0 -5px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.paginationUl li.last {
  margin: 0px -5px 0 3px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.paginationUl li.dots {
  font-size: 22px;
  cursor: default;
  margin: 0px 5px 0 3px;
}

.paginationUl li button.buttonPrev {
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 0 20px;
  border-radius: 25px 5px 5px 25px;
  width: 90px;
  height: 45px;
}

.paginationUl li button.buttonNext {
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 0 20px;
  border-radius: 5px 25px 25px 5px;
  width: 90px;
  height: 45px;
}

.paginationUl li.active {
  background-color: white;
  color: black;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.paginationUl li.active,
.paginationUl li.numb:hover,
.paginationUl li button.buttonPrev:hover,
.paginationUl li button.buttonNext:hover,
.paginationUl li.first:hover,
.paginationUl li.last:hover {
  color: #fff;
  background: #20b2aa;
}

@media (max-width: 724px) {
  .container {
    width: 100%;
  }
  .paginationUl {
    position: relative;
  }

  .paginationUl li.numb {
    display: none;
  }

  .paginationUl li.dots {
    display: none;
  }

  .paginationUl li button.buttonPrev {
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 0 20px;
    border-radius: 25px 5px 5px 25px;
    width: 60px;
    height: 45px;
  }

  .paginationUl li button.buttonNext {
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 0 20px;
    border-radius: 5px 25px 25px 5px;
    width: 60px;
    height: 45px;
  }
  .paginationUl li button.buttonPrev i,
  .paginationUl li button.buttonNext i {
    display: none;
  }

  .paginationUl li.active {
    background-color: white;
    color: #20b2aa;
    height: 45px;
    width: 45px;
    border-radius: 50%;
  }
  .paginationUl li.active,
  .paginationUl li.numb:hover,
  .paginationUl li button.buttonPrev:hover,
  .paginationUl li button.buttonNext:hover,
  .paginationUl li.first:hover,
  .paginationUl li.last:hover {
    color: #fff;
    background: #20b2aa;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  .container {
    margin-top: 15vh;
  }
}

@media (min-width: 1024px) {
  .container {
    margin-top: 5vh;
  }
}
